.app-cactheco {
  padding: 1em 2em;
  font-size: calc(100vw * (14 / 2560));

}

.cart {
  box-shadow: rgb(65 69 88 / 10%) 0px 7px 14px, rgb(0 0 0 / 7%) 0px 3px 6px;
  clear: both;
  background-color: #7e7878;
  padding: 1em 2em;
  margin: 1em 2em;
  border-radius: 0.3em;
  color: white;
  display: inline-block;
  .row1 {
    display: flex;
    justify-content: center;
    img {
      width: 40em;
    }
  }

  .row2 {
    display: flex;
    justify-content: center;
    width: 100%;
    .tentheco {}
    font-size: 2em;
  }

  .row3 {
    display: flex;
    justify-content: center;
    width: 100%;
 }
};

.cart:hover {
  cursor: pointer;
  background-color: #616161;
};
