<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/DHLL.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">ĐÀO HỒNG LIỄU LỤC</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>
<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/GGQD.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">GIẢI GIÁP QUI ĐIỀN</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>
<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/KDHL.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">KHƯU DẪN HÀNG LONG</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>
<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/KDHLANG.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">KINH ĐÀO HIỂM LẠNG</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>
<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/KMTT.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">KHỔNG MINH TÁ TIỄN</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>
<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/SMBG.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">SONG MÃ BÃO GIÁ</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>
<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/TACLB.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">TAM ANH CHIẾN LỮ BỐ</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>
<div class="cart">
    <div class="row1">
        <div class="c1">
            <img src="../../../assets/theco/TDMOZAM.png" style="width:275px;margin-left: 5%;" alt="">
        </div>
        <div class="c3">
            <img width="20px" alt="">
        </div>
    </div>
    <div class="row2">
        <div> </div>
        <p class="tinhdiem" style="text-align: center;">TRIỆU ĐÔ MOZAMBIC</p>
    </div>
    <div class="row3">

        <div class="c3">
            <button class="thamgia" style="margin-left:30%;">Chơi ngay</button>
        </div>


    </div>

    <div></div>
</div>