<div class="background">
    <header class="header">
        <div class="bar">
            <a href="/info"><img
                    src="   https://images.chesscomfiles.com/uploads/v1/user/195234311.14c5cd65.30x30o.1b34fdbe6040.png "
                    style="width: 70%"></a>
            <a href="/info" style="color: white; text-decoration:none;">hungtruong1910</a>
            <div><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/vn.svg"
                    style="width: 5%"></div>

            <div class="toolbar-menu">
                <div class="toolbar-icon-menu"><a href=""style="text-decoration:none;"> <i class="fi fi-sr-users"></i></a></div>
                <div class="toolbar-icon-menu"><a href="" style="text-decoration:none;"> <i class="fi fi-sr-envelope"></i></a></div>
                <div class="toolbar-icon-menu"><a href="" style="text-decoration:none;"> <i class="fi fi-sr-chess-knight-alt"></i></a></div>
                <div class="toolbar-icon-menu"><a href="" style="text-decoration:none;"> <i class="fi fi-sr-settings"></i></a></div>
            </div>
        </div>
    </header>

    <div class="taotrandau">
        <div class="play-quick-links">
            <a href="" class="shadow">
                <span class="play-quick-icon"><img
                        src="https://www.chess.com/bundles/web/images/color-icons/rapid.6888abab.svg"
                        style="width: 50%;"></span>
                <span class="play-quick-title">Cờ chớp</span>
            </a>
            <a href="/Room" class="shadow">
                <span class="play-quick-create-chess"><img
                        src="https://www.chess.com/bundles/web/images/color-icons/playwhite.9673f38c.svg"
                        style="width: 50%;"></span>
                <span class="play-quick-title">Tạo ván cờ</span></a>
            <a href="/Room" class="shadow">
                <span class="play-quick-computer"><img
                        src="https://www.chess.com/bundles/web/images/color-icons/computer.2318c3b4.svg"
                        style="width: 50%;"></span>
                <span class="play-quick-title">Chơi với máy</span></a>
            <a href="/Room" class="shadow">
                <span class="play-quick-friend"><img
                        src="https://www.chess.com/bundles/web/images/color-icons/handshake.fb30f50b.svg"
                        style="width: 50%;"></span>
                <span class="play-quick-title">Chơi online</span></a>
        </div>
        <div class="form-elo">
            <div>
                <div class="rank"><span style="font-size: 1.5em; color: white;">Wood</span> 
                    <a href="/info">
                        <i class="fi fi-sr-info"></i></a> </div>
                <div><img src="https://www.chess.com/bundles/web/images/leagues/badges/wood.43ce19b5.svg"
                        style="width:40%;">
                </div>
                <div class="elo">
                    <i class="fi fi-ss-trophy"></i>
                    <span style="font-size: 20px;margin-left: 5%; color: white;">0</span>
                    <span style="padding-left: 0.2em;">#41</span>

                </div>
                <div style="padding-bottom: 1em;"><span>My Division</span></div>

            </div>
        </div>

        <div class="tournaments">
            <a href="" class="giaidau">
                <span style="color: white; font-size: 2em">Tournaments</span>
                <div><i class="fi fi-rr-angle-right"></i></div>
            </a>
            <a href="" class="giaidau">
                <div><i class="fi fi-sr-bolt"></i></div>
                <div><span class="tournaments-title">3|0 Live 960 Arena</span></div>
                <div><span>77</span></div>    
                <div><i class="fi fi-sr-user"></i></div>
            </a>
            <a href="" class="giaidau">
                <img src="../assets/avatar/bullet.png" style="width: 8%;color: #a58a45;">
                <div><span class="tournaments-title">1|0 Bullet Arena</span></div>
                <div> <span>212</span></div>
                
                <div><i class="fi fi-sr-user"></i></div>
            </a>
            <a href="" class="giaidau">
                <div><i class="fi fi-sr-bolt"></i></div>
                <div><span class="tournaments-title">5|0 Blitz Arena</span></div>
                <div><span>13</span></div>
                
                <div><i class="fi fi-sr-user"></i></div>
            </a>
            <a href="" class="giaidau">
                <div><i class="fi fi-sr-chess-queen"></i></div>
                <span class="tournaments-title">1|0 King of the Hill</span>
                <span>1</span>
                <div><i class="fi fi-sr-user"></i></div>
            </a>
            <a href="" class="giaidau">
                <div><i class="fi fi-sr-home"></i></div>
                <span class="tournaments-title">1|0 Crazyhouse Arena</span>
                <span>0</span>
                <div><i class="fi fi-sr-user"></i></div>
            </a>
        </div>


    </div>
    <div class="h2">
        <div class="formtintuc">
            <div class="tintuc">
                <span style="font-size:2em; margin: 2%;">Tin tức </span>
                <hr>

                <div class="new" style="display: flex; ">

                    <a href="">
                        <img src="https://images.chesscomfiles.com/uploads/v1/news/1102655.92430085.300x169o.e1f1acae70e6.png"
                            style=" width:90%; margin: 5%; ">

                    </a>

                    <div style="width: 70%;">
                        <h2>
                            <a href="" class="title">Nakamura Scores 7.5/9, Firouzja Stretches Lead</a>
                        </h2>
                        <p class="title-new">The first day of blitz games at the 2022 Saint Louis Rapid
                            &amp;
                            Blitz saw quick chess superstars GM Hikaru Nakamura, Alireza Firouzja, and Levon Aronian
                            pick up
                            the
                            most points in a day of decisive results, tactical brawls, and a loss by an illegal m...</p>
                    </div>

                </div>

                <div class="new" style="display: flex;">

                    <a href="">
                        <img src="https://images.chesscomfiles.com/uploads/v1/news/1102655.92430085.300x169o.e1f1acae70e6.png"
                            style=" width:90%; margin: 5%; ">

                    </a>

                    <div style="width: 70%;">
                        <h2>
                            <a href="" class="title">Nakamura Scores 7.5/9, Firouzja Stretches Lead</a>
                        </h2>
                        <p class="title-new">The first day of blitz games at the 2022 Saint Louis Rapid
                            &amp;
                            Blitz saw quick chess superstars GM Hikaru Nakamura, Alireza Firouzja, and Levon Aronian
                            pick up
                            the
                            most points in a day of decisive results, tactical brawls, and a loss by an illegal m...</p>
                    </div>

                </div>

                <div class="new" style="display: flex;">

                    <a href="">
                        <img src="https://images.chesscomfiles.com/uploads/v1/news/1102655.92430085.300x169o.e1f1acae70e6.png"
                            style=" width:90%; margin: 5%; ">

                    </a>

                    <div style="width: 70%;">
                        <h2>
                            <a href="" class="title">Nakamura Scores 7.5/9, Firouzja Stretches Lead</a>
                        </h2>
                        <p class="title-new">The first day of blitz games at the 2022 Saint Louis Rapid
                            &amp;
                            Blitz saw quick chess superstars GM Hikaru Nakamura, Alireza Firouzja, and Levon Aronian
                            pick up
                            the
                            most points in a day of decisive results, tactical brawls, and a loss by an illegal m...</p>
                    </div>

                </div>
                <p><a href="" class="watch-more-new">Xem thêm</a></p>


            </div>
        </div>

        <div class="formcothe">
            <div class="trancothe">
                <span style="font-size:2em; margin: 3%;">Cờ thế</span>
                <hr>
                <div>
                    <div class="new1">

                        <a href="" class="user-activity-article-image">
                            <div>
                                <img src="../assets/cothe/cothe1.PNG" style="width: 80%; height:100%; margin: 10%;">

                                <img src="../assets/cothe/cothe1.PNG" style="width: 80%; height:100%; margin: 10%;">

                                <img src="../assets/cothe/cothe1.PNG" style="width: 80%; height:100%; margin: 10%;">
                                <p><a href="" class="xem-them-co-the">Xem thêm</a></p>
                            </div>


                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
