.playPage {
  min-height: 100vh;
  background-color: #312e2b;
  color: white;
  display: flex;
  padding: 0em 13em;
  font-size: calc(100vw * (14 / 2560));
  p {
    font-size: 1.8em;
  }

  .col1 {
    flex: 12;
    .player {
      padding: 1em 0;
      display: flex;
      align-items: center;
      .ava {
        padding: 0 1em 0 0;
        img {
          width: 3em;
          border-radius: 0.5em;
        }
      }
      .name {
      }
    }
  }
  .col2 {
    flex: 10;
  }
}

.indexs {
  padding-top: 5.5em;
  .index {
    font-size: 2em;
    height: 4.17em;
  }
}
