<div class="playPage">
  <div class="col1">
    <div class="player">
      <div class="ava">
        <img src="../../../assets/avatar/b12bec2fabbe22a12d4de6d28178661e.png" alt="">
      </div>
      <p>Jimmy</p>
      <div class="name"></div>
    </div>
    <app-board></app-board>
    <div class="player">
      <div class="ava">
        <img src="../../../assets/avatar/ac151ddaefc5ba6305b6acbafdda8a10.png" alt="">
      </div>
      <p>Sam</p>
    </div>
  </div>
  <div class="col2">
    <div class="forBr">
    </div>
    <app-box-history></app-box-history>

  </div>
</div>
