<div class="a1233">
    <div class="boody">
        <div class="c1">
            <button class="dangnhap">Đãng nhập</button>
            <p style="color: white;margin-top: 10px;">/</p>
            <button class="dangky" routerLink="/dangky">Đăng ký</button>
        </div>
        <div class="c2">
            <input class="taikhoan" placeholder="tài khoản">
            <input class="matkhau" type="password"  placeholder="mật khẩu">


        </div>
        <div class="c3">
            <button class="nhap">Đăng nhập</button>
        </div>
        <div class="c4">
            <button class="QMK">Quên mật khẩu ?????</button>

        </div>
        <div class="c5">
            <button class="nhapgg" (click)="login()">
                <img class="GG" src="../../assets/avatar/123.png">
                <samp>Đăng nhập bằng GOOGLE</samp>
            </button>
        </div>
    </div>

</div>
