.a1233 {
  margin: 0;
  background-image: url("../../../assets/avatar/1234.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.boody {
  width: 25%;
  margin-top: -11%;
  .c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    .dangnhap {
      margin: 0;
      cursor: pointer;
      background: transparent;
      border: none;
      color: white;
      font-weight: 500;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 700;
    }
    .dangky {
      margin: 0;
      cursor: pointer;
      background: transparent;
      border: none;
      color: white;
      font-weight: 500;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .c2 {
    display: contents;
    justify-content: space-between;
    align-items: center;
    .taikhoan {
      // width: 100%;
      height: 60px;
      background-color: #fffbf2;
      border-radius: 4px;
      box-shadow: rgb(0 0 0 / 20%) 0px 0px 80px;
    }
    .matkhau {
      margin-top: 5px;
      // width: 100%;
      height: 60px;
      background-color: #fffbf2;
      border-radius: 4px;
      box-shadow: rgb(0 0 0 / 20%) 0px 0px 80px;
    }
    input {
      padding-left: 25px;
      border-radius: 10px;
      border: #3E77C2;
      margin-bottom: 15px;
      width: calc(100% - 25px);
    }
  }
  .c3 {
    display: contents;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .nhap {
      width: 100%;
      margin: 20px 0px 0px;
      height: 60px;
      line-height: 60px;
      padding: 0px 45px;
      border: 0px;
      font-weight: 500;
      font-size: 19px;
      text-transform: uppercase;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: rgb(0 0 0 / 20%) 0px 0px 80px;
      cursor: pointer;
      background: rgb(255, 213, 82);
      color: rgb(156, 13, 5);
    }
  }
  .c4 {
    display: contents;
    justify-content: space-between;
    align-items: center;
    .QMK {
      margin: 0;
      cursor: pointer;
      background: transparent;
      border: none;
      color: white;
      font-weight: 500;
      text-decoration: underline;
      font-size: 14px;
    }
  }
  .c5 {
    display: contents;
    justify-content: space-between;
    align-items: center;
    .nhapgg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .GG {
        width: 20%;
        height: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
      width: 100%;
      margin: 20px 0px 0px;
      height: 60px;
      line-height: 60px;
      padding: 0;
      border: 0px;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: rgb(0 0 0 / 20%) 0px 0px 80px;
      cursor: pointer;
      color: rgb(156, 13, 5);
    }
  }
}
