
    <div style="color: #654F4D;margin-left: 10px;">
        <h1>Xem người khác chơi</h1>
    </div>
    
    
        <div class="carts">
                <div class="cart">
                    <div class="row1">
                        <div class="c1"> 
                            <div class="avatar"><img width=" 40px"  src="../../assets/avatar/919a59cfc56e41bcc423b06a44765593.png" alt=""></div>   
                        </div>
                        <div class="c2">
                            <p class="name">Thanh Do</p>
                            <p class="rank">Xep hang 1234</p>
                            
                        </div>
                        <div class="c3">
                            <img width="20px" src="../../assets/avatar/vn.svg" alt="">
                        </div>
                    </div>
                    <div class="vs">
                        <p>VS</p>
                    </div>
                    <div class="row2">
                        <div class="c1"> 
                            <div class="avatar"><img width=" 40px"  src="../../assets/avatar/92b59d979ef831d6f7a862206ce1f8f9.png" alt=""></div>   
                        </div>
                        <div class="c2">
                            <p class="name">ABC</p>
                            <p class="rank">Xep hang 4321</p>
                            
                        </div>
                        <div class="c3">
                            <img width="20px" src="../../assets/avatar/mx.svg" alt="">
                        </div>
                    </div>
                    <div class="row3">
                        <div class="c1">
                            <img src="../../assets/avatar/tải xuống.svg" style="margin: 5px 5px 5px 5px;">
                            <p class="tinhdiem">tính điểm</p>
                            <p class="thoigian"> thời gian</p>
                        </div>
                        <div class="c2">
                            
                        </div>
                        <div class="c3">
                            <img src="../../assets/avatar/co.svg" >
                            <p class="a">Những nước đi :1</p>
                            <button class="thamgia">Xem</button>
                        </div>
                    </div>
                </div>
    
        </div>
    
    
    
       
