<div class="form-history">
    <div class="history">
        <ul style="display: flex; list-style-type: none;">
            <li><img class="columns-user1" src="../assets/avatar/92b59d979ef831d6f7a862206ce1f8f9.png"  >
                <div>
                    <span class="columns-user1">Hungtt</span>
                    <div>
                        <span class="columns-user1" style="font-size: 16px;">Elo:1200</span>
                    </div>

                </div>
               
            </li>
            
            
                <span class="versus"  >VS</span>
           
        
        <li style="padding-right:110px">
            <img class="columns-user2" src="../assets/avatar/919a59cfc56e41bcc423b06a44765593.png" >
            <div>
                <span class="columns-user2">Hungtt</span>
                <div>
                    <span class="columns-user2" style="font-size: 16px;">Elo:1200</span>
                </div>

            </div>
           
        </li>
        
        </ul>
        <ul style="display: flex; list-style-type: none; background-color: 	#353839;">
            <li class="columns-user1">
                <span >1 </span> <img src="../assets/xiangqi/wp.png" width="14%"> 
                <span> D5 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> E5</span>
            </li>
            <li class="columns-user2">
                <span >2 </span> <img src="../assets/xiangqi/bn.png" width="14%">
                <span> J8 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> H9</span>
            </li>
        </ul>
        <ul style="display: flex; list-style-type: none;background-color: #5c5c5c;" >
            <li class="columns-user1">
                <span >3 </span> <img src="../assets/xiangqi/wca.png" width="14%"> 
                 <span> C2 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> J2</span>
            </li>
            <li class="columns-user2">
                <span  >4 </span> <img src="../assets/xiangqi/bca.png" width="14%"> 
                 <span> H2 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> H5</span>
            </li>
        </ul>
        <ul style="display: flex; list-style-type: none;background-color: 	#353839;">
            <li class="columns-user1">
                <span  >5 </span> <img src="../assets/xiangqi/wca.png" width="14%">  
               <span> J2 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> J4</span>
            </li>
            <li class="columns-user2">
                <span  >6 </span> <img src="../assets/xiangqi/bc.png" width="14%"> 
                <span> J1 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> I1</span>
            </li>
        </ul>
        <ul style="display: flex; list-style-type: none;background-color: #5c5c5c;">
            <li class="columns-user1">
                <span   >7 </span> <img src="../assets/xiangqi/wca.png" width="14%"> 
                <span> J4 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> J6</span>
            </li>
            <li class="columns-user2">
                <span  >8 </span> <img src="../assets/xiangqi/bn.png" width="14%"> 
                <span> H9 <img src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg" width="10%"> J8</span>
            </li>
        </ul>
    </div>
</div>