
<div class="layout-play">
    <img src="../../../assets/xiangqi/ba.png" alt="">
    <img src="../../../assets/xiangqi/ba.png" alt="">
    <img src="../../../assets/xiangqi/bc.png" alt="">
    <img src="../../../assets/xiangqi/bc.png" alt="">
    <img src="../../../assets/xiangqi/bca.png" alt="">
    <img src="../../../assets/xiangqi/bca.png" alt="">
    <img src="../../../assets/xiangqi/be.png" alt="">
    <img src="../../../assets/xiangqi/be.png" alt="">
    <img src="../../../assets/xiangqi/bk.png" alt="">
    <img src="../../../assets/xiangqi/bn.png" alt="">  
    <img src="../../../assets/xiangqi/bn.png" alt="">  
    <img src="../../../assets/xiangqi/bp.png" alt="">
    <img src="../../../assets/xiangqi/bp.png" alt="">
    <img src="../../../assets/xiangqi/bp.png" alt="">
    <img src="../../../assets/xiangqi/bp.png" alt="">
    <img src="../../../assets/xiangqi/bp.png" alt="">


    <img src="../../../assets/xiangqi/wa.png" alt="">
    <img src="../../../assets/xiangqi/wa.png" alt="">
    <img src="../../../assets/xiangqi/wc.png" alt="">
    <img src="../../../assets/xiangqi/wc.png" alt="">
    <img src="../../../assets/xiangqi/wca.png" alt="">
    <img src="../../../assets/xiangqi/wca.png" alt="">
    <img src="../../../assets/xiangqi/we.png" alt="">
    <img src="../../../assets/xiangqi/we.png" alt="">
    <img src="../../../assets/xiangqi/wk.png" alt="">
    <img src="../../../assets/xiangqi/wn.png" alt="">  
    <img src="../../../assets/xiangqi/wn.png" alt="">  
    <img src="../../../assets/xiangqi/wp.png" alt="">
    <img src="../../../assets/xiangqi/wp.png" alt="">
    <img src="../../../assets/xiangqi/wp.png" alt="">
    <img src="../../../assets/xiangqi/wp.png" alt="">
    <img src="../../../assets/xiangqi/wp.png" alt="">

    <div>
        <svg width="1026" height="1141" viewBox="0 0 1026 1141" fill="none" xmlns="">
            <line x1="38" y1="155.5" x2="988" y2="155.5" stroke="white"/>
            <line x1="38" y1="275.5" x2="988" y2="275.5" stroke="white"/>
            <line x1="38" y1="629.5" x2="988" y2="629.5" stroke="white"/>
            <line x1="38" y1="749.5" x2="988" y2="749.5" stroke="white"/>
            <line x1="38" y1="867.5" x2="988" y2="867.5" stroke="white"/>
            <line x1="38" y1="985.5" x2="988" y2="985.5" stroke="white"/>
            <line x1="157.5" y1="1104" x2="157.5" y2="630" stroke="white"/>
            <line x1="867.5" y1="1104" x2="867.5" y2="630" stroke="white"/>
            <line x1="749.5" y1="1104" x2="749.5" y2="630" stroke="white"/>
            <line x1="631.5" y1="1104" x2="631.5" y2="630" stroke="white"/>
            <line x1="512.5" y1="1104" x2="512.5" y2="630" stroke="white"/>
            <line x1="393.5" y1="1104" x2="393.5" y2="630" stroke="white"/>
            <line x1="275.5" y1="1104" x2="275.5" y2="630" stroke="white"/>
            <line x1="158" y1="512.001" x2="158" y2="35.9999" stroke="white"/>
            <line x1="867.5" y1="512" x2="867.5" y2="38.0005" stroke="white"/>
            <line x1="749.5" y1="512" x2="749.5" y2="38.0005" stroke="white"/>
            <line x1="631.5" y1="513" x2="631.5" y2="36.0005" stroke="white"/>
            <line x1="512.5" y1="512" x2="512.5" y2="36.0005" stroke="white"/>
            <line x1="393.5" y1="513" x2="393.5" y2="36.0005" stroke="white"/>
            <line x1="631.646" y1="274.354" x2="393.646" y2="36.354" stroke="white"/>
            <line x1="393.896" y1="274.897" x2="631.397" y2="37.3966" stroke="white"/>
            <line x1="631.149" y1="1103.86" x2="393.648" y2="868.356" stroke="white"/>
            <line x1="393.398" y1="1103.4" x2="631.648" y2="867.645" stroke="white"/>
            <line x1="275.5" y1="512" x2="275.5" y2="36.0005" stroke="white"/>
            <line x1="38" y1="512.5" x2="988" y2="512.5" stroke="white"/>
            <line x1="38" y1="392.5" x2="988" y2="392.5" stroke="white"/>
            <line x1="46.0332" y1="397" x2="46.0332" y2="415" stroke="white" stroke-width="2"/>
            <line x1="45" y1="398" x2="63" y2="398" stroke="white" stroke-width="2"/>
            <line x1="45" y1="386.967" x2="63" y2="386.967" stroke="white" stroke-width="2"/>
            <line x1="46" y1="388" x2="46" y2="370" stroke="white" stroke-width="2"/>
            <line x1="46.0332" y1="754" x2="46.0332" y2="772" stroke="white" stroke-width="2"/>
            <line x1="45" y1="755" x2="63" y2="755" stroke="white" stroke-width="2"/>
            <line x1="45" y1="743.967" x2="63" y2="743.967" stroke="white" stroke-width="2"/>
            <line x1="46" y1="745" x2="46" y2="727" stroke="white" stroke-width="2"/>
            <line x1="980.967" y1="388" x2="980.967" y2="370" stroke="white" stroke-width="2"/>
            <line x1="982" y1="387" x2="964" y2="387" stroke="white" stroke-width="2"/>
            <line x1="982" y1="398.034" x2="964" y2="398.034" stroke="white" stroke-width="2"/>
            <line x1="981" y1="397" x2="981" y2="415" stroke="white" stroke-width="2"/>
            <line x1="980.967" y1="745" x2="980.967" y2="727" stroke="white" stroke-width="2"/>
            <line x1="982" y1="744" x2="964" y2="744" stroke="white" stroke-width="2"/>
            <line x1="982" y1="755.034" x2="964" y2="755.034" stroke="white" stroke-width="2"/>
            <line x1="981" y1="754" x2="981" y2="772" stroke="white" stroke-width="2"/>
            <line x1="755.033" y1="754" x2="755.033" y2="772" stroke="white" stroke-width="2"/>
            <line x1="754" y1="755" x2="772" y2="755" stroke="white" stroke-width="2"/>
            <line x1="754" y1="743.967" x2="772" y2="743.967" stroke="white" stroke-width="2"/>
            <line x1="755" y1="745" x2="755" y2="727" stroke="white" stroke-width="2"/>
            <line x1="743.967" y1="745" x2="743.967" y2="727" stroke="white" stroke-width="2"/>
            <line x1="745" y1="744" x2="727" y2="744" stroke="white" stroke-width="2"/>
            <line x1="745" y1="755.034" x2="727" y2="755.034" stroke="white" stroke-width="2"/>
            <line x1="744" y1="754" x2="744" y2="772" stroke="white" stroke-width="2"/>
            <line x1="518.033" y1="754" x2="518.033" y2="772" stroke="white" stroke-width="2"/>
            <line x1="517" y1="755" x2="535" y2="755" stroke="white" stroke-width="2"/>
            <line x1="517" y1="743.967" x2="535" y2="743.967" stroke="white" stroke-width="2"/>
            <line x1="518" y1="745" x2="518" y2="727" stroke="white" stroke-width="2"/>
            <line x1="506.967" y1="745" x2="506.967" y2="727" stroke="white" stroke-width="2"/>
            <line x1="508" y1="744" x2="490" y2="744" stroke="white" stroke-width="2"/>
            <line x1="508" y1="755.034" x2="490" y2="755.034" stroke="white" stroke-width="2"/>
            <line x1="507" y1="754" x2="507" y2="772" stroke="white" stroke-width="2"/>
            <line x1="281.033" y1="754" x2="281.033" y2="772" stroke="white" stroke-width="2"/>
            <line x1="280" y1="755" x2="298" y2="755" stroke="white" stroke-width="2"/>
            <line x1="280" y1="743.967" x2="298" y2="743.967" stroke="white" stroke-width="2"/>
            <line x1="281" y1="745" x2="281" y2="727" stroke="white" stroke-width="2"/>
            <line x1="269.967" y1="745" x2="269.967" y2="727" stroke="white" stroke-width="2"/>
            <line x1="271" y1="744" x2="253" y2="744" stroke="white" stroke-width="2"/>
            <line x1="271" y1="755.034" x2="253" y2="755.034" stroke="white" stroke-width="2"/>
            <line x1="270" y1="754" x2="270" y2="772" stroke="white" stroke-width="2"/>
            <line x1="755.033" y1="397" x2="755.033" y2="415" stroke="white" stroke-width="2"/>
            <line x1="754" y1="398" x2="772" y2="398" stroke="white" stroke-width="2"/>
            <line x1="754" y1="386.967" x2="772" y2="386.967" stroke="white" stroke-width="2"/>
            <line x1="755" y1="388" x2="755" y2="370" stroke="white" stroke-width="2"/>
            <line x1="743.967" y1="388" x2="743.967" y2="370" stroke="white" stroke-width="2"/>
            <line x1="745" y1="387" x2="727" y2="387" stroke="white" stroke-width="2"/>
            <line x1="745" y1="398.034" x2="727" y2="398.034" stroke="white" stroke-width="2"/>
            <line x1="744" y1="397" x2="744" y2="415" stroke="white" stroke-width="2"/>
            <line x1="873.033" y1="280" x2="873.033" y2="298" stroke="white" stroke-width="2"/>
            <line x1="872" y1="281" x2="890" y2="281" stroke="white" stroke-width="2"/>
            <line x1="872" y1="269.967" x2="890" y2="269.967" stroke="white" stroke-width="2"/>
            <line x1="873" y1="271" x2="873" y2="253" stroke="white" stroke-width="2"/>
            <line x1="861.967" y1="271" x2="861.967" y2="253" stroke="white" stroke-width="2"/>
            <line x1="863" y1="270" x2="845" y2="270" stroke="white" stroke-width="2"/>
            <line x1="863" y1="281.033" x2="845" y2="281.033" stroke="white" stroke-width="2"/>
            <line x1="862" y1="280" x2="862" y2="298" stroke="white" stroke-width="2"/>
            <line x1="164.033" y1="280" x2="164.033" y2="298" stroke="white" stroke-width="2"/>
            <line x1="163" y1="281" x2="181" y2="281" stroke="white" stroke-width="2"/>
            <line x1="163" y1="269.967" x2="181" y2="269.967" stroke="white" stroke-width="2"/>
            <line x1="164" y1="271" x2="164" y2="253" stroke="white" stroke-width="2"/>
            <line x1="152.967" y1="271" x2="152.967" y2="253" stroke="white" stroke-width="2"/>
            <line x1="154" y1="270" x2="136" y2="270" stroke="white" stroke-width="2"/>
            <line x1="154" y1="281.033" x2="136" y2="281.033" stroke="white" stroke-width="2"/>
            <line x1="153" y1="280" x2="153" y2="298" stroke="white" stroke-width="2"/>
            <line x1="163.033" y1="872" x2="163.033" y2="890" stroke="white" stroke-width="2"/>
            <line x1="162" y1="873" x2="180" y2="873" stroke="white" stroke-width="2"/>
            <line x1="162" y1="861.967" x2="180" y2="861.967" stroke="white" stroke-width="2"/>
            <line x1="163" y1="863" x2="163" y2="845" stroke="white" stroke-width="2"/>
            <line x1="151.967" y1="863" x2="151.967" y2="845" stroke="white" stroke-width="2"/>
            <line x1="153" y1="862" x2="135" y2="862" stroke="white" stroke-width="2"/>
            <line x1="153" y1="873.033" x2="135" y2="873.033" stroke="white" stroke-width="2"/>
            <line x1="152" y1="872" x2="152" y2="890" stroke="white" stroke-width="2"/>
            <line x1="873.033" y1="872" x2="873.033" y2="890" stroke="white" stroke-width="2"/>
            <line x1="872" y1="873" x2="890" y2="873" stroke="white" stroke-width="2"/>
            <line x1="872" y1="861.967" x2="890" y2="861.967" stroke="white" stroke-width="2"/>
            <line x1="873" y1="863" x2="873" y2="845" stroke="white" stroke-width="2"/>
            <line x1="861.967" y1="863" x2="861.967" y2="845" stroke="white" stroke-width="2"/>
            <line x1="863" y1="862" x2="845" y2="862" stroke="white" stroke-width="2"/>
            <line x1="863" y1="873.033" x2="845" y2="873.033" stroke="white" stroke-width="2"/>
            <line x1="862" y1="872" x2="862" y2="890" stroke="white" stroke-width="2"/>
            <line x1="518.033" y1="397" x2="518.033" y2="415" stroke="white" stroke-width="2"/>
            <line x1="517" y1="398" x2="535" y2="398" stroke="white" stroke-width="2"/>
            <line x1="517" y1="386.967" x2="535" y2="386.967" stroke="white" stroke-width="2"/>
            <line x1="518" y1="388" x2="518" y2="370" stroke="white" stroke-width="2"/>
            <line x1="506.967" y1="388" x2="506.967" y2="370" stroke="white" stroke-width="2"/>
            <line x1="508" y1="387" x2="490" y2="387" stroke="white" stroke-width="2"/>
            <line x1="508" y1="398.034" x2="490" y2="398.034" stroke="white" stroke-width="2"/>
            <line x1="507" y1="397" x2="507" y2="415" stroke="white" stroke-width="2"/>
            <line x1="281.033" y1="397" x2="281.033" y2="415" stroke="white" stroke-width="2"/>
            <line x1="280" y1="398" x2="298" y2="398" stroke="white" stroke-width="2"/>
            <line x1="280" y1="386.967" x2="298" y2="386.967" stroke="white" stroke-width="2"/>
            <line x1="281" y1="388" x2="281" y2="370" stroke="white" stroke-width="2"/>
            <line x1="269.967" y1="388" x2="269.967" y2="370" stroke="white" stroke-width="2"/>
            <line x1="271" y1="387" x2="253" y2="387" stroke="white" stroke-width="2"/>
            <line x1="271" y1="398.034" x2="253" y2="398.034" stroke="white" stroke-width="2"/>
            <line x1="270" y1="397" x2="270" y2="415" stroke="white" stroke-width="2"/>
            <rect x="38.5" y="36.5005" width="949" height="1067" stroke="white"/>
            </svg>
    </div>
   

</div>