<div class="aaa">
    <div class="form-history">
        <tr>
            <th><img src="../assets/avatar/ac151ddaefc5ba6305b6acbafdda8a10.png">
                <div>
                    <span style="font-size: 22px;">hungtt</span>
                    <div>
                        <span style="font-size: 12px;">Elo: 1200</span>
                    </div>
                </div>
            </th>

            <th><span style="font-size: 40px; color: aquamarine;">VS</span></th>
            <th><img src="../assets/avatar/b12bec2fabbe22a12d4de6d28178661e.png">
                <div>
                    <span style="font-size: 22px;">hungtt</span>
                    <div>
                        <span style="font-size: 12px;">Elo: 1200</span>
                    </div>
                </div>
            </th>
        </tr>
        <div style="width:449px; height:300px; overflow:auto;">
            <table cellspacing="0" cellpadding="1" width="100%">

                <tr style="background-color:#353839;">
                    <td>
                        <div class="cellTable">
                            <span>1</span><img src="../assets/xiangqi/wp.png" width="14%">
                            <span> D5 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> E5</span>
                        </div>
                    </td>

                    <td>
                        <div class="cellTable">
                            <span>2 </span> <img src="../assets/xiangqi/bn.png" width="14%">
                            <span> J8 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> H9</span>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: #5c5c5c;">
                    <td>
                        <div class="cellTable">
                            <span>3</span><img src="../assets/xiangqi/wca.png" width="14%">
                            <span> C2 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%">J2</span>
                        </div>
                    </td>

                    <td>
                        <div class="cellTable">
                            <span>4 </span> <img src="../assets/xiangqi/bca.png" width="14%">
                            <span> H2 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> H5</span>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: 	#353839;">
                    <td>
                        <div class="cellTable">
                            <span>5 </span> <img src="../assets/xiangqi/wca.png" width="14%">
                            <span> J2 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> J4</span>
                        </div>
                    </td>

                    <td>
                        <div class="cellTable">
                            <span>6</span><img src="../assets/xiangqi/bca.png" width="14%">
                            <span> J1 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> I1</span>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: #5c5c5c;">
                    <td>
                        <div class="cellTable">
                            <span>7 </span> <img src="../assets/xiangqi/wca.png" width="14%">
                            <span> J4 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> J6</span>
                        </div>
                    </td>

                    <td>
                        <div class="cellTable">
                            <span>8 </span> <img src="../assets/xiangqi/bn.png" width="14%">
                            <span> H9 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> J8</span>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: 	#353839;">
                    <td>
                        <div class="cellTable">
                            <span>1</span><img src="../assets/xiangqi/wp.png" width="14%">
                            <span> D5 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> E5</span>
                        </div>
                    </td>

                    <td>
                        <div class="cellTable">
                            <span>2 </span> <img src="../assets/xiangqi/bn.png" width="14%">
                            <span> J8 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> H9</span>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: #5c5c5c;">
                    <td>
                        <div class="cellTable">
                            <span>3</span><img src="../assets/xiangqi/wca.png" width="14%">
                            <span> C2 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%">J2</span>
                        </div>
                    </td>

                    <td>
                        <div class="cellTable">
                            <span>4 </span> <img src="../assets/xiangqi/bca.png" width="14%">
                            <span> H2 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> H5</span>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: 	#353839;">
                    <td>
                        <div class="cellTable">
                            <span>5 </span> <img src="../assets/xiangqi/wca.png" width="14%">
                            <span> J2 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> J4</span>
                        </div>
                    </td>

                    <td>
                        <div class="cellTable">
                            <span>6 </span> <img src="../assets/xiangqi/bc.png" width="14%">
                            <span> J1 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> I1</span>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: #5c5c5c; ">
                    <td>
                        <div class="cellTable">
                            <span>7 </span> <img src="../assets/xiangqi/wca.png" width="14%">
                            <span> J4 <img
                                    src="https://i.pinimg.com/originals/dd/d1/c2/ddd1c2476bcb099d675bf282f0a40192.jpg"
                                    width="8%"> J6</span>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="chat">
        <div class="contens" style="height: 200px; ">
            <div>
                <input type="text" placeholder=" tin nhắn">

            </div>
        </div>
    </div>
</div>