.form-history{
    background-color: #232b2b;
    max-width:   30%;
    border-radius: 3%;
    float: right;
}
.columns-user1{
    float: left;
    margin-right:100px;
    font-size: 22px;
    color: white;
}
.columns-user2{
    float: right;
    margin-left:100px;
    font-size: 22px;
    color: white;
}
img{
    max-width: 30%;
    border-radius:19% ;
}

.versus{
   margin-left: 50px;
    padding-top: 30px;
    font-size: 40px;
    color: green;
}
td {
    color: white;
    text-align: center;
    border: none;
    display: table-cell;
    vertical-align: inherit;
    outline: none;
}
th {
    color: white;
    text-align: center;
    outline: none;
}
  table td.separator {
    border: none;
    height: 40px;
  }
  table {
    border-collapse: collapse;
  }
  td th tr{
    justify-content: center ;
  }