.layout-play{

    max-height: 70%;
    width: 50%;
    background-color: #eeeee4;
    float: left;
    margin: 20px auto 40px;
    border-radius: 25px;
    box-sizing: border-box;
}
img{
    height: 60px;
    width:  60px;
}