<div class="app">
  <div class="taskbar">
    <div class="menu">

    </div>
    <div class="avatar">
      <div class="tieng">
        <img src="../assets/avatar/dich.svg" style="margin: 10px;">
      </div>
      <div class="chontieng">

        <div class="dropdown">
          <button class="dropbtn">
            <img src="../assets/avatar/vn.svg" style="width: 15px; height:15px ;">
            Tiếng Việt
          </button>
          <div class="dropdown-content">
            <a href="#">English </a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>


      </div>
      <div class="thongtin">
        <img *ngIf="authService.hasUser" referrerpolicy="no-referrer" src="{{authService.user.photoURL}}"
          style="border-radius: 50%; width: 100%; height: 100%;">

      </div>
      <div style="margin: 0 10px 0 20px;">
        <div class="dropdown">
          <button class="dropbtn">
            <img src="../assets/avatar/icon-128x128.png" style="width: 35px; height: 35px;">
          </button>
          <div class="dropdown-content">
            <a href="info">Thông tin của bạn </a>
            <a href="#">Bạn</a>
            <a href="#" (click)="logout()" routerLink="/dangnhap">login/logout</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <nav class="nav__cont">
    <ul class="nav">
      <li [routerLink]="item.href" *ngFor="let item of menuLeft" class="nav__items ">
        <a>{{item.title}}</a>
      </li>
    </ul>
  </nav>
  <div class="wrapper">
    <main style=" margin: 0 0 0 0px;">
    </main>
  </div>

  <div style="margin-left: 15.7em;">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div style="margin-left: 31em;"><router-outlet></router-outlet></div> -->
