.app {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.nav__cont {
  ul{
    padding: 0;
    margin: 0;
    margin-top: 60%;
  }
  position: fixed;
  // width: 60px;
  top: 0;
  height: 100vh;
  z-index: 100;
  background-color: #202020;
  overflow: hidden;
  transition: width 0.3s ease;

  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  // &:hover {
  //   // width: 200px;
  // }
  @media screen and (min-width: 600px) {
    // width: 80px;
  }
}

.nav {
  list-style-type: none;
  color: white;

}

.nav__items {
  padding: 1.5rem;
  cursor: pointer;
  a {
    position: relative;
    display: block;
    top: -35px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 1.35em;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      background: radial-gradient(
        circle at 94.02% 88.03%,
        #54a4ff,
        transparent 100%
      );
      opacity: 0;
      transition: all 0.5s ease;
      z-index: -10;
    }
  }
  &:hover a:after {
    opacity: 1;
  }
  svg {
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
    @media screen and(min-width:600px) {
      width: 32px;
      height: 32px;
      left: -15px;
    }
  }
}

body {
  height: 100vh;
  background: radial-gradient(
      circle at 94.02% 88.03%,
      #54a4ff,
      transparent 100%
    ),
    radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%),
    radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}

h1 {
  margin-top: 6rem;
  margin-left: 80px;
  text-align: center;
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 6px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.taskbar{
  width: 100%;
  height: 60px;
  background-color: #202020;
 .avatar{
  display: flex;
  float: right;
  width: 20%;
  -webkit-box-align: center;
  align-items: center;
  .chontieng{
    height: 40px;
    margin: 5px;
    background-color: #000000;
    color: white;
    button{
      width: 100%;
      height: 100%;
      background-color: #202020;
    }
    
  }
  



  }
 }
  



.thongtin{
  float: left;
  overflow: hidden;
  background-color: blue;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.thongtin .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.thongtin-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -40px;
}
.thongtin-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.thongtin-content a:hover {
  background-color: #ddd;
}

.thongtin:hover .thongtin-content {
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}