<div class="dialog-create-game">
  <div class="row rCancel">
    <i mat-dialog-close class="fi fi-rr-cross-small click"></i>
  </div>
  <div class="row title">
    <p>TẠO VÁN CỜ MỚI</p>
  </div>
  <div class="row btOption">
    <div class="bt click" (click)="changeStyleGame()"
      [style.background-color]="game.isWithBot ? '#3b3b3b' : '#3b3b3b00'">
      <p>Với máy</p>
    </div>
    <div class="bt1 click" (click)="changeStyleGame()"
      [style.background-color]="game.isWithBot ? '#3b3b3b00' : '#3b3b3b'">
      <p>Offline 2 người</p>
    </div>
  </div>

  <!-- <div class="row btOption" diable>
    <div class="bt click" (click)="changeSco()" [style.background-color]="newGame.coTinhDiem ? '#3b3b3b' : '#3b3b3b00'">
      <p>Không tính điểm</p>
    </div>
    <div class="bt1 click" (click)="changeSco()"
      [style.background-color]="newGame.coTinhDiem ? '#3b3b3b00' : '#3b3b3b'">
      <p>Tính điểm</p>
    </div>
  </div> -->

  <div class="row nomal" style="padding-top: 1em;">
    <div>
      <p>Thời gian 1 nước đi: {{game.tGian1Nuoc}}(giây)</p>
    </div>
  </div>

  <div class="row setting-time-box">
    <mat-slider thumbLabel [displayWith]="formatLabel" [(ngModel)]="game.tGian1Nuoc" step="5" min={{minStepTime}}
      max={{maxStepTime}} aria-label="units">
    </mat-slider>
  </div>

  <div class="row nomal" style="padding-top: 1em;">
    <div>
      <p>Thời gian 1 mỗi người chơi: {{game.tGian1User}}(phút) </p>
    </div>
  </div>

  <div class="row setting-time-box">
    <mat-slider thumbLabel [displayWith]="formatLabel" [(ngModel)]="game.tGian1User" step="1" min={{minGameTime}}
      max={{maxGameTime}} aria-label="units">
    </mat-slider>
  </div>

  <div class="row" style="justify-content: center;">
    <div (click)="closeAndSendData()" class="btCreate click">
      <p>Tạo Ván Cờ</p>
    </div>
  </div>
</div>
