<div style="background-color: #F3EEE6;">
    <div class="taskbar">
        <button class="login" routerLink="/dangnhap">Login</button>
 
        <div class="tuade">
          <H1 >Cờ Tướng</H1>
        </div>
       </div>
       <div style=" width: 100%; height: 700px;">
        <div class="phai">
          <img src="../../assets/avatar/11.png" width="90%" height="650">
        </div>
        <div class="trai">
          <H1 >Cờ Tướng</H1>
          
        <h2>Bạn có thể chơi Cờ Tướng trực tuyến miễn phí,
           cải thiện trò chơi của mình khi chơi với máy tính và thách đấu với bạn bè của 
           ạn trong trò chơi Cờ Tướng nhiều người chơi</h2>
    
        <button  class="signup" routerLink="/dangnhap">Signup/Login</button>

        </div>
    
       </div>
      
      <div class="taskbar2">
    
      </div>
</div>

