

.taskbar{
    height: 90px;
    background-color: #993300;
    margin: 0 0 0 0 ;
}
.login{
    float: right;
    width: 150px;
    height: 50px;
    margin: 20px 100px 0 0;
    border-radius: 50% 50% 50%;
    background-color: #FF9900;
}
.tuade{
    float: left;
    width: 150px;
    height: 50px;
    margin: 10px 0 50px 100px;
    color: azure;

}


.trai{
    float: left;
    width: 50%;
    height: 80%;
    text-align: center;
}
.phai{
    float: right;
    width: 50%;
    height: 80%;
}
.signup{
    width: 250px;
    height: 100px;
    margin: 350px 100px 0 0;
    border-radius: 50% 50% 50%;
    background-color: #FF9900;
    font-size: 30px;
}
.taskbar2{
    height: 90px;
    background-color: #993300;

}