
.body{
 margin: 0 auto;

}
.cross{
 margin-left: 92%;
 margin-top: 0.8em;
    i{
        color: #c5b6b6
    }
    i:hover{
        color: #585252

    }
}
.Tua{
    text-align: center;
    H1{
        color: #817224;
        font-size: 3em;
    }
}
.img{
    margin: 0 10em 2em 10em ;
}
.youwin{
    text-align: center;
}