<div class="taovanco">
    <H1>Hi!!!!! chào bạn <button class="tao"> + ván cờ mới</button></H1>
</div>
<div class="chonphong">
    <div><h1>chọn đối thủ</h1></div>
    <div class="carts">
        <div class="cart">
        <div class="row1">
            <div class="c1"> 
                <div class="avatar"><img width=" 40px"  src="../../assets/avatar/919a59cfc56e41bcc423b06a44765593.png" alt=""></div>   
            </div>
            <div class="c2">
                <p class="name">Thanh Do</p>
                <p class="rank">Xep hang 1234</p>
                
            </div>
            <div class="c3">
                <img width="20px" src="../../assets/avatar/vn.svg" alt="">
            </div>
        </div>
        <div class="row2">
            <img src="../../assets/avatar/tải xuống.svg" >
            <p class="tinhdiem">tính điểm</p>
        </div>
        <div class="row3">
            <div class="c1">
                <p> 25p</p>
            </div>
            <div class="c2">
                <p>công đồng</p>
            </div>
            <div class="c3">
                <button class="thamgia">tham gia</button>
            </div>
        </div>
    </div>
    <div class="sotrang"> 
        <button class="back"> < </button>
        <p style="margin:  0 20px 0 20px;"> 1/1 </p>
        <button class="next"> > </button>
     </div>
    
    </div>

    
</div>
<div style="clear: both;"></div>
<div class="choivoimay">
    <div>
        <h1 style="margin-top: 40px;">chơi với máy</h1>
    </div>
    <div class="cart">
    <div class="row1">
        <div class="c1"> 
            <div class="avatar"><img width=" 40px"  src="../../assets/avatar/919a59cfc56e41bcc423b06a44765593.png" alt=""></div>   
        </div>
        <div class="c2">
            <p class="name">Thanh Do</p>
            <p class="rank">Mức Độ : 1</p>
            
        </div>
        <div class="c3">
            <img width="20px" src="../../assets/avatar/vn.svg" alt="">
        </div>
    </div>
</div>

   

</div>