.app-room {
  font-size: calc(100vw * (14 / 2560));
  min-height: 70vh;
  padding: 4em 4em 0 5em;
  font-family: "Quicksand", sans-serif;
}

h1 {
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(101, 79, 77);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 2.2em;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.btTao {
  border: none;
  padding: 0.5em 1em;
  background-color: #c2352e;
  font-size: 1.8em;
  font-weight: 100;
  border-radius: 0.2em;
  color: rgb(255, 251, 242);
  box-shadow: rgb(65 69 88 / 10%) 0px 7px 1em, rgb(0 0 0 / 7%) 0px 0.3em 0.6em;
}

.chonphong {
}

.sotrang {
  height: 30px;
  float: right;
  margin-top: 10%;
  display: flex;
  align-items: center;
  background-color: #fffbf2;
  box-shadow: rgb(65 69 88 / 10%) 0px 7px 14px, rgb(0 0 0 / 7%) 0px 3px 6px;
  margin-right: 20px;

  .back {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .next {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
}
.thamgia {
  margin: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgb(194, 53, 46);
  font-weight: 500;
  text-decoration: underline;
  font-size: 1em;
}
.carts {
  padding: 2em 0 1em 0;
  .cart {
    margin: 0 0 0 1em;
    box-shadow: rgb(65 69 88 / 10%) 0px 7px 14px, rgb(0 0 0 / 7%) 0px 3px 6px;
    clear: both;
    background-color: #fffbf2;
    display: inline-block;
    padding: 1em 2em;
    border-radius: 0.3em;
    margin: 0 5em 3em 0;
    .row1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .vs {
        padding: 0 2em;
        font-size: 2em;
        font-weight: 600;
        color: #7a4a4a;
      }
      .c1 {
        padding-right: 1em;
        .avatar {
          padding: 0;
          margin: 0;
          width: 3em;
          height: 3em;
          background-color: rgb(0, 247, 255);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .c2 {
        width: 7em;
        .name {
          font-size: 1.2em;
          font-weight: bold;
        }
        .rank {
          font-size: 1em;
        }
      }
    }
    .row2 {
      padding: 0.3em 0;
      display: flex;

      align-items: center;
      .tinhdiem {
        margin-left: 0.6em;
      }
    }
    .row3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .c1 {
        margin-right: 1em;
      }
      .c2 {
        margin-right: 1em;
      }
    }
    .row4 {
      .c1 {
        display: flex;
      }
    }
  }
  .cart:hover {
    cursor: pointer;
    background-color: #e5e5e5;
  }
  .row4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0 0 0;
    .c1 {
      display: flex;
      align-items: center;
      img{
        width: 1.2em;
        padding-right: 0.3em;
      }
    }
    .c2 {
      display: flex;
      align-items: center;
      i{
        font-size: 1.5em;
        padding-right: 0.5em;
      }
    }
  }
}

.choivoimay {
}
