<!-- <div class="users">
    <div class="user-title">
        <div>
            <div>
                <img class="img" src="https://i.pinimg.com/736x/ab/9e/53/ab9e53b748f4a45b1aaad922d0788d54.jpg">
               
            </div>
            <div class="user-detail">
                <h6>Millo</h6>
            </div>
        </div>
        <div>
            <h3>VS</h3>
        </div>
        <div class="user-title">
            <div> <img class="img" src="https://i.pinimg.com/736x/ab/9e/53/ab9e53b748f4a45b1aaad922d0788d54.jpg"></div>
            <div class="user-detail">
                <h6>Ovaltine</h6>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="card">
    <div class="user" style="float: left;">
        <div>
            <img class="img" src="https://i.pinimg.com/736x/ab/9e/53/ab9e53b748f4a45b1aaad922d0788d54.jpg">
        </div>
        <div class="user">
            <p>Hung</p>
        </div>
        <div class="user">
            <h3 class="versus">VS</h3>
        </div>
    </div>

    <div class="userd" style="float: right;">
        <div>
            <img class="img" src="https://i.pinimg.com/736x/ab/9e/53/ab9e53b748f4a45b1aaad922d0788d54.jpg">
        </div>
        <div class="user">
            <p>Hung</p>
        </div>

    </div>
    <button class="watch">Xem trận </button>
</div> -->
<div class="parent white">
    <div class="pink">
        <div class="user" >
            <div>
                <img class="img" src="https://i.pinimg.com/736x/ab/9e/53/ab9e53b748f4a45b1aaad922d0788d54.jpg">
            </div>
            <div class="user">
                <p>Hung</p>
            </div>
            <div class="user">
                <h3 class="versus">VS</h3>
            </div>
        </div>
    
        <div class="userd">
            <div>
                <img class="img" src="https://i.pinimg.com/736x/ab/9e/53/ab9e53b748f4a45b1aaad922d0788d54.jpg">
            </div>
            <div class="userd">
                <p>Hung</p>
            </div>
    
        </div>
        
    </div>
    <div class="purple">2</div>
    <div class="blue">3</div>
    <div class="green">4</div>
  </div>