<div class="grapHistoryBox">
  <div class="row">
    <div class="c1">
      <div><img class="avatar" src="../../../../../assets/avatar/{{gameService.player1.img}}.png"></div>
      <div><span style="font-size: 22px;">{{gameService.player1.name}}</span></div>
      <div><span style="font-size: 12px;">Elo: {{gameService.player1.elo}}</span></div>
    </div>
    <div class="vs">
      <p>VS</p>
    </div>
    <div class="c1">
      <div><img class="avatar" src="../../../../../assets/avatar/{{gameService.player2.img}}.png"></div>
      <div><span style="font-size: 22px;">{{gameService.player2.name}}</span></div>
      <div><span style="font-size: 12px;">Elo: {{gameService.player2.elo}}</span></div>
    </div>
  </div>

  <div class="boxTime30">
    <section class="example-section">
      <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'determinate'"
        [value]="getValueToProcessBar(gameService.player1.id)">
      </mat-progress-bar>
    </section>
    <section class="example-section" style="transform: rotate(180deg);">
      <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'determinate'"
        [value]="getValueToProcessBar(gameService.player2.id)" [bufferValue]="1">
      </mat-progress-bar>
    </section>
  </div>


  <div class="content">
    <div class="row1">
      <div><i class="fi fi-sr-time-quarter-to"></i>
        <p>{{gameService.player1.chessControl.timer.getFormatTime()}}</p>
      </div>
      <div><i class="fi fi-sr-time-quarter-to"></i>
        <p>{{gameService.player2.chessControl.timer.getFormatTime()}}</p>
      </div>

    </div>

    <div class="graps">
      <div>
        <div *ngFor="let item of hs.grapsHalf; let i = index">
          <div class="row2" [style.background-color]="i%2==0 ? 'rgb(80 80 80)' : '#373737'">

            <div class="c1">
              <div>
                <p>{{i*2}}</p>
              </div>
              <div><img src="../assets/xiangqi/{{hs.graps[i*2].nameChess}}" alt=""></div>
              <div>
                <p>{{ hs.graps[i*2].grapFrom }}</p>
              </div>
              <div><i class="fi fi-rr-caret-right"></i></div>
              <div>
                <p>{{ hs.graps[i*2].grapTo }}</p>
              </div>
            </div>

            <div class="c1" *ngIf="hs.graps[i*2+1] != undefined">
              <!-- <div class="c1" *ngIf="hs.graps[i*2+1] != undefined"> -->
              <div>
                <p>{{i*2+1}}</p>
              </div>
              <div><img src="../assets/xiangqi/{{hs.graps[i*2+1].nameChess}}" alt=""></div>
              <div>
                <p>{{ hs.graps[i*2+1].grapFrom }}</p>
              </div>
              <div><i class="fi fi-rr-caret-right"></i></div>
              <div>
                <p>{{ hs.graps[i*2+1].grapTo }}</p>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div *ngIf="!gameService.isGameStart" class="boxStart">
        <div class="btStart" (click)="startGame()">
          <p>BẮT ĐẦU</p>
        </div>
      </div>
    </div>



  </div>


</div>
